root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true

# Namespace preferences
csharp_style_namespace_declarations= file_scoped:error

# var preferences
csharp_style_var_elsewhere = false:silent
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = true:error
